.buttonsContainer {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 38%;
}

.button-count {
  position: relative;
  width: 2rem;
  height: 2rem;
  border-radius: 100%;
  background-color: #535453;
  color: #f4f4f4;
  font-size: 1.7rem;
  font-weight: 300;
  border: none;

  p {
    position: absolute;
    top: -18%;
    left: 23%;
  }
}

.minus {
  p {
    left: 31%;
  }
}

.number {
  margin: 0 2rem;
  font-size: 1rem;
  font-family: Poppins;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.05rem;
  text-align: center;
  width: 10%;
}

@media (min-width: 768px) {
}
