.button-count {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 2.44rem;
  height: 2.56rem;
  border-radius: 100%;
  background-color: #535453;
  color: #f4f4f4;
  font-size: 2rem;
}

@media (min-width: 768px){



}