.buttonsContainer {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 45%;
}

.button-count {
  position: relative;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 100%;
  background-color: #535453;
  color: #f4f4f4;
  font-size: 1.4rem;
  font-weight: 300;
  border: none;

  p {
    position: absolute;
    top: -25%;
    left: 20%;
  }
}

.minus {
  p {
    left: 31%;
  }
}

.number {
  margin: 0 1rem;
  font-size: 1rem;
  font-family: Poppins;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.05rem;
  text-align: center;
  width: 10%;
}

@media (min-width: 1024px) {
  .button-count {
    width: 2rem;
    height: 2rem;
    font-size: 1.7rem;
  }

  .button-count {
    p {
      position: absolute;
      top: -18%;
      left: 23%;
    }
  }

  .minus {
    p {
      left: 30%;
    }
  }
}
