.home-products {

    .text {
        display: flex;
        justify-content: space-between;
        color: #272727;
        padding: 30px 0 0;
        width: 80%;
        margin: 0 auto;
        
        p {
            font-weight: 600;
            font-size: 16px;
        }

        button {
            font-size: 14px;
        }
    }

    @media(min-width: 650px) {

       .text {
           width: 50%;
       }
    }
}

.filtros {
    margin: 15px;
    button {
        text-transform: uppercase;

        &:first-of-type {
            font-weight: 500;
        }
        margin: 10px;
    }
}

.productos-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    div {
        max-width: 20%;
    }
}