#client-card {
  .container {
    padding: 1rem 0;
    background-color: #fff;
    left: 0;
    margin-right: 100%;
    border-radius: 10px;

    h4 {
      font-family: Poppins;
      font-weight: 400;
      font-size: 1.5rem;
      line-height: 135.94%;
      text-align: center;
      color: #272727;
    }

    .circle {
      width: 2.5rem;
      height: 2.5rem;
      background-color: #9b6b4e;
      margin: 0 auto;
      border-radius: 100%;
    }

    p {
      font-family: Poppins;
      font-weight: 400;
      font-size: 1rem;
      line-height: 135.94%;
      text-align: center;
      color: #000000;
    }
  }
}

