.contact {

    .title {
        font-size: 16px;
        font-weight: 600;
        line-height: 20.8px;
        color: #9B6B4E;
        padding: 25px 50px 25px 25px;
    }

    .contact-info-container {

        padding: 0 25px 25px;

        .contact-info {

            display: flex;
            align-items: center;
            margin: 0;
            padding-bottom: 10px;
            color: #272727;

            img {
                padding-right: 10px;
            }

            a {
                text-decoration: none;
                color: #272727;
            }

            p {
                margin-bottom: 0;
            }
        }
    }

    .map-container {
        padding-top: 25px;
        margin: 25px 15px;

        .title {
            color: #272727;
            padding: 15px 0;
        }

        .map {
            width: 100%;
        }
    }

    @media(min-width: 992px) {

        .title {
            font-size: 36px;
            width: 100%;
            text-align: center;
            padding-bottom: 75px;
        }

        .grid-container {
            display: grid;
            grid-template-columns: 1fr 1fr;
            width: 100%;
            padding: 0 5%;

            .contact-info-container {
                grid-column: 1 / 2;
                grid-row: 1 / 2;
                font-size: 20px;
                // padding-left: 12%;
            }

            .map-container {
                grid-column: 1 / 2;
                grid-row: 2 / 3;

                .title {

                    font-size: 24px;
                    text-align: left;
                }
            }
        }
    }
}