.contact {

    .title {
        font-size: 16px;
        font-weight: 600;
        line-height: 20.8px;
        color: #9B6B4E;
        padding: 25px 50px 25px 25px;
    }

    .contact-info-container {

        padding: 0 25px 25px;

        .contact-info {

            display: flex;
            align-items: center;
            margin: 0;
            padding-bottom: 10px;
            color: #272727;

            img {
                padding-right: 10px;
            }

            a {
                text-decoration: none;
                color: #272727;
            }

            p {
                margin-bottom: 0;
            }
        }
    }

    .map-container {
        padding-top: 25px;
        margin: 25px 15px;

        .title {
            color: #272727;
            padding: 15px 0;
        }

        .map {
            width: 100%;
        }
    }
}