footer {
  background-color: #ffff;

  p {
    font-family: Poppins;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #616161;
    margin-bottom: 0;
  }

  .container {
    padding: 1.625rem 0 1.625rem 1.6875rem;

    .row {
      display: flex;

      .col:first-child {
        margin-right: 4.68rem;
      }

      .col-menu {
        display: none;
      }

      h3 {
        font-family: Roboto Slab;
        font-weight: 600;
        font-size: 24px;
        line-height: 32px;
      }

      h4 {
        font-family: Poppins;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        color: #616161;
        display: flex;
        align-items: flex-start;

        a {
          text-decoration: none;
          color: #616161;
          display: flex;
          align-items: center;
        }
      }
    }
  }
}

@media (min-width: 768px) {
  .container {
    padding: 1.625rem 0 1.625rem 6.3rem;

    .col-menu {
      display: block !important;
    }
  }
}
