@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Roboto+Slab:wght@300;400;500;600;700;800&display=swap");

body,
.App {
  background: #f4f4f4;
}

.container {
  width: 83%;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .container {
    width: 93%;
  }
}
